<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">   
    <title>List of Vets</title>
</head>
<body>
    <h1 th:text="'List of Vets'">Vets</h1>
    
    <table id="vets" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Specialties</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet:${vets}">
                <td th:text="${vet.id}">Id</td>
                <td th:text="${vet.firstName + ' ' + vet.lastName}">Name</td>
                <td><span th:each="specialty : ${vet.specialities}" 
                          th:text="${specialty.name + ' '}"></span>
                    <span th:if="${vet.specialities?.size()==0}">None</span></td>
            </tr>
        </tbody>
    </table>    
</body>
</html>